@import "#/App.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh;
}

.recipes {
  width: 300px;
  border-right: 1px solid $borderColor;
  padding-top: 80px;
  padding-left: 40px;
  z-index: 10;
  background-color: $backgroundColor2;
}
