@import '#/App.scss';

.addRecipe {
  margin-right: $spacingMedium;

  & .addItem {
    position: relative;
    
    & button {
      position: absolute;
      top: -2px;
      right: 0;
      background: transparent;
      width: 100px;
      color: $aquablue;
      margin: 2px 0 0;
      border: 1px solid $aquablue;
      
      &:hover {
        color: $buttonHoverBgColor;
        background-color: transparent;
        color: $aqua;
        border-color: $aqua;
      }
    }
  }

  & .header {
    margin-bottom: $spacingMedium;
    margin-top: $spacingMedium;

    & .headerText {
      width: auto;
      display: inline;
      margin-right: $spacingMedium;
    }

    & .addButton {
      width: auto;
      display: inline;
      margin: 0;
    }
  }
}