@import "#/App.scss";

.button {
  margin: 10px 0 10px;
  box-sizing: border-box;
  display: block;
  padding: 0.8em 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: $fontSize;
  color: $buttonTextColor;
  background-color: $buttonBgColor;
  border: $buttonBorderWidth solid $buttonBorderColor;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;

  &:hover {
    color: $buttonHoverTextColor;
    background-color: $buttonHoverBgColor;
    border: $buttonBorderWidth solid $buttonHoverBorderColor;
  }

  &.sm {
    padding: 8px 12px;
    font-size: $fontSizeSm;
  }

  &.secondary {
    color: $secondaryButtonTextColor;
    background-color: $secondaryButtonBgColor;
    border: $secondaryButtonBorderWidth solid $secondaryButtonBorderColor;

    &:hover {
      color: $secondaryButtonHoverTextColor;
      background-color: $secondaryButtonHoverBgColor;
      border: $secondaryButtonBorderWidth solid $secondaryButtonHoverBorderColor;
    }
  }

  &.delete {
    background-color: $deleteButtonBgColor;
    color: $deleteButtonTextColor;

    &:hover {
      background-color: $deleteButtonBgHoverColor;
    }
  }

  &.secondaryDelete {
    background-color: $secondaryDeleteButtonBgColor;
    color: $secondaryDeleteButtonTextColor;

    &:hover {
      background-color: $secondaryDeleteButtonBgHoverColor;
      text-decoration: underline;
    }
  }
}
