@import "#/App.scss";

.button {
  margin: 10px 0 10px;
  box-sizing: border-box;
  display: block;
  padding: 0.8em 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: $fontSize;
  color: $buttonTextColor;
  background-color: $buttonBgColor;
  border-radius: 3px;
  width: 100%;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $buttonBgHoverColor;
  }

  &.sm {
    padding: 8px 12px;
    font-size: $fontSizeSm;
  }

  &.secondary {
    color: $secondaryButtonBgColor;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &.delete {
    background-color: $deleteButtonBgColor;
    color: $deleteButtonTextColor;

    &:hover {
      background-color: $deleteButtonBgHoverColor;
    }
  }
}
