@import '#/App.scss';

.recipe {
  position: relative;
  display: block;
  padding: 10px 12px;
  margin: $spacingSmall 0;
  font-size: $fontSizeXs;
  border: 2px solid transparent;
  cursor: pointer;
  transition: .2s ease all;
  border-radius: $radiusSm;

  &:hover {
    border: 2px solid $lightpastelgreen;
    box-shadow: 2px 4px 8px rgba($pastelgreen, .2);

    .button {
      opacity: 1;
    }
  }

  .button {
    border-width: 1px  0 0;
    border-style: solid;
    border-color: $lightpastelgreen;
    margin: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
